@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/neuzeit.woff2") format("woff2");
  font-family: "Neuzeit";
}

@keyframes transitionIn {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Neuzeit", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  animation: transitionIn 0.725s;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}


/* 상단 고정메뉴 */
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
}

nav .navWrap {
  padding: 0 5%;
  height: 40px;
}

nav .navWrap ul.menu {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid purple; */
}

nav .navWrap ul.menu>li {
  width: 33.33%;
  /* border: 1px solid yellow; */
  font-weight: 500;
  margin-top: 20px;
}

@media (max-width:1400px) {
  nav .navWrap ul.menu>li:nth-child(2) {
    min-width: 420px;
  }
}

@media (max-width:800px) {
  nav .navWrap ul.menu {
    flex-wrap: wrap;
  }
  nav .navWrap ul.menu>li {
    width: calc(50%);
  }
  nav .navWrap ul.menu>li:nth-child(2) {
    order: 3;
    margin: 0 auto;
  }
}

nav .navWrap ul.menu li:nth-child(2) {
  text-align: center;
}

nav .navWrap ul.menu li:nth-child(3) {
  text-align: right;
}

nav .navWrap ul.menu li.work_sub ul {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 4%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background: linear-gradient(180deg, rgba(130, 130, 130, 0.6) 0%, rgba(0,0,0,0.4) 50%, rgba(130, 130, 130, 0.6) 100%);
  backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

nav .navWrap ul.menu li.work_sub ul li {
  text-align: center;
  font-size: 14px;
}

@media (max-width:420px) {
  nav .navWrap ul.menu>li:nth-child(2) {
    min-width: 340px;
  }
  nav .navWrap ul.menu li.work_sub ul li {
    font-size: 12px;
  }
}

nav .navWrap ul.menu li.work_sub ul li a{
  color: #fff;
  opacity: .8;
}

nav .navWrap ul.menu li.work_sub ul li a:hover {
  opacity: 1;
}


/* 메인 */
.hero {
  background-color: #fff;
}

/* .hero__background {
  position: absolute;
  z-index: 1;
  top: 0%;
  height: 0%;
  width: 100%;
  background: #090e18;
} */

.hero__top {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.hero__top h1 {
  color: #090e1f;
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 32px;
  max-width: 600px;
  z-index: 3;
  position: relative;
}

@media (max-width: 960px) {
  .hero__top h1 {
    font-size: 32px;
  }
}

.hero__top p {
  mix-blend-mode: difference;
  color: rgba(255, 255, 255, 0.6);
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
  z-index: 3;
  position: relative;
}

.hero__bottom {
  height: 60vh;
  background: url("https://images.unsplash.com/photo-1522938974444-f12497b69347?ixlib=rb-1.2.1&auto=format&fit=crop&w=3397&q=80") no-repeat center/cover;
  background-attachment: fixed;
}

/* .hero__bottom img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

.about {
  background-color: #fff;
}

.about__item {
  display: inline-block;
  /* width: 700px; */
  width: 1920px;
  /* padding: 0px 40px; */
  /* padding: 0px 5%; */
  display: flex;
  /* flex-direction: column; */
}

/* .about__item:nth-child(odd) img {
  margin-bottom: 64px;
}
.about__item:nth-child(even) {
  flex-direction: column-reverse;
} */
.about__item img {
  object-fit: cover;
  width: 300px;
  height: 380px;
}

.about__item .content {
  /* height: 50%; */
  max-width: 1500px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border: 1px solid red;
}

.about__item .content h3 {
  font-size: 32px;
  max-width: 350px;
  line-height: 1.2;
}

.about__item .content h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  max-width: 350px;
  line-height: 1.2;
}

.about__item .content p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 350px;
  margin-top: 8px;
  margin-bottom: 100px;
}

/* 자기소개서 */
.about__item .content .introduce {
  gap: 10%;
  columns: 2;
}

.about__item .content .introduce h3 {
  font-size: 32px;
  max-width: 700px;
  line-height: 1.2;
}

.about__item .content .introduce p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 700px;
  margin-top: 8px;
  margin-bottom: 100px;
}

.about__item .content ul {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  height: 150px;
  border: 1px solid navy;
  justify-content: space-between;
  gap: 20px;
}

.about__item .content ul li {
  width: 50px;
  height: 50px;
  overflow: hidden;

}

.about__item .content ul li img {
  width: 100%;
}

.about__item .content table.career tr {
  text-align: center;
}

.about__item .content table.career tr td:nth-child(2) {
  text-align-last: right;
}

.about__item .content table.career tr td:nth-child(3) {
  width: 100px;
}

.about__item .content table.career tr td:nth-child(4) {
  text-align-last: left;
}

.about__item .content table.career tr td {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.horizontal-scroll__section {
  position: relative;
  height: 490vh;
  /* 가로스크롤 전체 길이 */
}

.horizontal-scroll__wrapper {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.horizontal-scroll__content {
  display: flex;
  padding: 5%;
  margin-left: 5%;
  height: 100vh;
  width: 600vh;
  /* 각 컨텐츠마다의 길이 */
  will-change: transform;
}

/* .extra-section {
  height: 100vh;
  background-color: #ddd;
} */



/* work */
section#works {
  width: 100%;
  padding: 0 5%;
  /* background-color: #ddd; */
}


section#works .work_intro {
  height: 60vh;
  /* background-color: #bbb; */
  position: relative;
  /* margin-bottom: 10%; */
}

section#works .work_intro .wi_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

section#works .work_intro h1 {
  color: #090e1f;
  font-size: 80px;
}

section#works .work_intro p {
  mix-blend-mode: difference;
  color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
  z-index: 3;
}

section#works .branding,
section#works .webApp,
section#works .logo,
section#works .pdPage,
section#works .Another {
  position: relative;
  margin-top: 5%;
  /* border: 1px solid yellow; */
}

section#works .branding .bTitle,
section#works .webApp .waTitle,
section#works .logo .lgTitle,
section#works .pdPage .pdTitle,
section#works .Another .anTitle {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 80px;
}

section#works .branding .bTitle h2,
section#works .webApp .waTitle h2,
section#works .logo .lgTitle h2,
section#works .pdPage .pdTitle h2,
section#works .Another .anTitle h2 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 60px;
}

section#works .branding .bTitle span,
section#works .webApp .waTitle span,
section#works .logo .lgTitle span,
section#works .pdPage .pdTitle span,
section#works .Another .anTitle span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
  padding: 5px 12px;
  font-weight: bold;
  font-size: 24px;
}

section#works .branding ul,
section#works .webApp ul {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* columns: 2; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
}

section#works .branding ul li,
section#works .webApp ul li {
  /* flex: 1; */
  width: calc(50% - 3%);
  margin-bottom: 50px;
}

section#works .branding ul li img,
section#works .webApp ul li img {
  width: 860px;
  height: 490px;
  border-radius: 10px;
  background-color: #6a6a6a;
}


/* 로고 페이지 */
section#works .logo .lgTitle {
  margin-bottom: 60px;
}
section#works .logo ul {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 60px; */
  justify-content: space-between;
  gap: 2%;
}

section#works .logo ul li {
  width: calc(12.5% - 2%);
  /* 가로세로 값이 일정게 줄어들게 코딩 다시할 것 */
  /* flex: 1; */
  /* 같은 비율로 정렬 */
  margin-bottom: 3%;
  /* border: 1px solid red; */
  overflow: hidden;
}

@media (max-width:830px) {
  section#works .logo ul li {
    width: calc(25% - 2%);
  }
}

section#works .logo ul li img {
  /* width: 200px;
  height: 200px; */
  width: 100%; height: 100%;
  border-radius: 10px;
  background-color: #6a6a6a;
}

section#works ul li div {
  display: flex;
}
section#works ul li div h3 {
  font-size: 16px;
  /* margin-left: 20px; */
  margin: 0 20px;
}








/* 좌측 슬라이더 불릿 */
.slider__nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-bullet {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.slider-bullet__text {
  color: #000;
  font-size: 1rem;
}

.slider-bullet__line {
  background-color: #000;
  margin-right: 1rem;
  height: 1px;
  width: 1rem;
}






/* 새로운 상세페이지 슬라이드 */
section#works .pdPage .products-slider {
  /* background-color: #f5f5f7; */
  /* padding: 0px 5%; */
  box-sizing: border-box;
  /* position: relative; */
  margin-top: 60px;
  /* border: 1px solid red; */
}

/* .slider-heading {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 5%;
}

.slider-heading h3 {
  font-size: 1.75rem;
  color: #1d1d1f;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 34px;
}

.slider-heading h3 span {
  color: #6e6e73;
} */

section#works .pdPage .product-container {
  width: 95vw;
  /* position: absolute;
  left: -1%; */
  /* border: 1px solid blue; */
}

section#works .pdPage .product-box {
  display: flex;
  flex-direction: column;
  width: 460px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  /* padding: 2%; */
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: all ease 0.3s;
  overflow: hidden;
}

section#works .pdPage .product-box:hover {
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.10);
  transform: scale(1.008);
  transition: all 0.3s ease;
}

/* .product-box strong {
  color: #29292c;
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 24px;
} */

section#works .pdPage .product-box img {
  width: 100%;
  height: 100%;
  /* padding: 20px 0px; */
  object-fit: contain;
  object-position: center;
  /* margin: 20px auto; */
}

section#works .pdPage .product-box a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

section#works .pdPage .lSPager {
  display: none;
}

section#works .pdPage .lSAction>a {

  background-color: #00000033;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.6;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#works .pdPage .lSAction>a::after {
  position: absolute;
  content: '';
  margin: auto;
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}

section#works .pdPage .lSAction>.lSPrev::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

section#works .pdPage .lSAction>.lSNext::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


@media(max-width:600px) {
  /* .slider-heading h3 {
      font-size: 21px;
  } */

  section#works .pdPage .product-box {
      width: 460px;
      margin: 10px;
      box-sizing: border-box;
  }

  section#works .pdPage .explore-products {
      height: 427px;
  }

  /* .product-box img {
      height: 800px;
      width: 460px;
      padding: 0px;
  } */
}

@media(max-width:380px) {
  section#works .pdPage .product-box {
      width: 280px;
  }

  /* .product-box img {
      width: 280px;
      height: 700px;
  } */

  section#works .pdPage .explore-products {
      height: 445px;
  }
}